body {
  padding-top: 120px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--warnabackgrorund-teks);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}
