@media (min-width: 768px) and (max-width: 1024px) {
  .imagecreative img,
  .imageprofessional img {
    width: 60px;
    height: auto;
  }
  .creativelog,
  .professionaltext {
    border-radius: 60px;
    padding: 10px 15px;
  }

  .creativelog-sub,
  .professionaltextsub {
    padding: 0px 10px;
  }

  .myskilltext h1 {
    font-size: 70px;
    color: var(--warnafontbirutua);
  }
  .myskilltext p {
    font-size: 15px;
  }

  .technical-text h1 {
    font-size: 45px;
  }

  .technical-textabout p {
    font-size: 14px;
  }
  .skills-1 img,
  .skills-2 img,
  .skills3 img {
    width: 50px;
    height: auto;
  }
  .skills-bottom-right img {
    width: 140px;
    height: auto;
  }
  .skill-about-basic {
    font-size: 9px;
  }
  .skills-1,
  .skills-2,
  .skills3 {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid var(--warnafonthitam);
    margin: 0px 0px 15px 0px;
  }
  .technical-text h1 {
    font-size: 40px;
  }
  .technical-textabout {
    width: 120px;
  }
}
