@media (max-width: 767px) {
  .main_2 {
    padding: 0px 20px;
  }

  .logoofmain2 {
    font-size: 13px;
  }
  .rectangleabout {
    width: 20px;
    height: 3px;
    margin: 10px 10px 10px 15px;
  }
  .grouppicture img {
    margin: 0px 30px 0px 0px;
    width: 200px;
    height: max-content;
  }

  .aboutme-graphicanddeveloper h3 {
    font-size: 15px;
  }

  .aboutme-pixel {
    font-size: 13px;
  }
  .pixel-1 img {
    width: 130px;
    height: auto;
  }

  .garisedu, .educationtext p {
    background-color: var(--warnafontbirutua);
    font-size: 7px;
    color: var(--warnafontbirutua);
  }

  .educationtext h1 {
    margin-top: 6px;
    font-size: 22px;
  }

  .school-smp-sub h4, .school-smk-sub h4 {
    font-size: 13px;
  }

  .school-smp-sub p, .school-smk-sub p {
    font-size: 11px;
  }
}
