:root {
  --warnabackgrorund-teks: #f5f5f5;
  --warnafonthitam: #282828;
  --warnafontbiru: #007bff;
  --warnanavbar: #ffffff;
  --warnafontbirutua: #000dff;
}

@media (max-width: 767px) {
  .rectanglebotsub {
    font-size: 11px;
  }

  .bottom1 {
    margin-left: 40px;
  }

  .bottom4 {
    margin-right: 40px;
  }

  .rectanglebotsub {
    height: 40px;
  }

  .rectanglebotsub div {
    margin-bottom: 11px;
  }
}
