:root {
  --warnabackgrorund-teks: #f5f5f5;
  --warnafonthitam: #282828;
  --warnafontbiru: #007bff;
  --warnanavbar: #ffffff;
  --warnafontbirutua: #000dff;
}

.rectanglebot {
  justify-content: center;
  align-items: center;
  display: flex;
}

.rectanglebotsub {
  position: relative;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  display: flex;
  margin-top: -30px;
  background-color: var(--warnafonthitam);
  width: 100%;
  height: 60px;
}

.bottom2,
.bottom3 {
  color: var(--warnabackgrorund-teks);
  margin: 0px 10px;
}

.bottom1,
.bottom4 {
  color: var(--warnabackgrorund-teks);
}

.bottom1 {
  margin-left: 70px;
}

.bottom4 {
  margin-right: 70px;
}

.bottom1 span,
.bottom2 span,
.bottom3 span,
.bottom4 span {
  color: var(--warnafontbiru);
  font-size: 30px;
}

@media (max-width: 767px) {
  .rectanglebotsub {
    font-size: 13px;
  }

  .bottom1 {
    margin-left: 40px;
  }

  .bottom4 {
    margin-right: 40px;
  }
}


