@media (max-width: 767px) {
  .contact-btn {
    font-size: 11px;
  }

  nav a {
    font-size: 13px;
  }

  header {
    margin: 20px 20px 30px 20px;
  }
  .Slog1 img {
    width: 50px;
    height: auto;
  }
}
