/* ========================================================= */
/* CSS VARIABLES */
/* ========================================================= */
:root {
  --warnabackgrorund-teks: #f5f5f5;
  --warnafonthitam: #282828;
  --warnafontbiru: #007bff;
  --warnanavbar: #ffffff;
  --warnafontbirutua: #000dff;
}

/* ========================================================= */
/* RESET & BASE */
/* ========================================================= */




/* ========================================================= */
/* HEADER & NAVIGATION */
/* ========================================================= */
header {
  display: flex;
  background-color: var(--warnanavbar);
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 100px;
  max-width: 1200px;
  width: calc(100% - 40px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




nav ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

nav a {
  font-size: 15px;
  text-decoration: none;
  color: var(--warnafonthitam);
  transition: color 0.2s;
}

nav a:hover {
  color: var(--warnafontbiru);
}

.Container-header-right {
  margin-right: 10px;
}

.contact-btn {
  background-color: black;
  color: var(--warnabackgrorund-teks);
  border: none;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 14px;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: var(--warnafontbiru);
  box-shadow: 0 0 6px var(--warnafontbiru);
  transform: scale(1.05);
}

.main-group {
  width: 100%;
}

.Slog1 img {
  width: 70px;
}

