@media (max-width: 767px) {
  .text-coding-project h2 {
    font-size: 50px;
  }
  .text-coding-project h4 {
    font-size: calc(50px / 1.6);
  }
  .text-coding-about {
    padding: 11px 0px;
    font-size: 10px;
  }
  .text-all-coding h2 {
    font-size: 17px;
  }
  .text-all-coding {
    gap: 9px;
  }
  .about-program p {
    font-size: 13px;
    margin-bottom: -5px;
  }
  .coding-top {
    gap: 100px;
  }
  .info-language span {
    font-size: 9px;
  }
  .button-repo-code a {
    font-size: 13px;
  }
}
