@media (max-width: 768px) {
  .myphotosub img {
    position: relative;
    width: 550px;
    justify-content: center;
    transform: translate(-60px, 20px);
  }

  .myphotosub {
    position: relative;
    z-index: 0;
  }

  .myskills {
    margin: 0px 20px 0px -100px;
    z-index: 2;
    justify-content: flex-end;
  }

  .photography,
  .design,
  .videography,
  .photovideoeditsub,
  .plus,
  .uiux {
    font-size: 10px;
  }

  .videography h4 {
    text-align: center;
    padding-top: 5px;
    justify-content: center;
  }

  .photography h4 {
    text-align: center;
    padding-top: 5px;
    justify-content: center;
  }

  .webdev {
    font-size: 10px;
    padding: 4px 10px;
  }

  .wordofmain-1 {
    padding: 0px 0px 0px 100px;
    z-index: 2;
  }

  .buttonportofolio button {
    font-size: 13px;
    width: 110px;
    transform: translateY(-50px);
    z-index: 2;
  }

  .mediasosialtopsub img {
    height: 23px;
  }

  .mediasosialtopsub {
    width: 170px;
    height: 45px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    margin-top: 365px;
    transform: translate(-60px, -45px);
  }

  .buttonportofolio {
    transform: translate(30px, -2px);
  }

  .skills {
    transform: translate(-80px, 0);
  }

  .teksmain1 {
    font-size: 13px;
  }
}
